*{
    margin:0;
    padding:0;
    
}

.fk{
    background-image: url(https://kep.index.hu/1/0/2218/22187/221877/22187774_1469532_98aec0306266e3f678470f1daff92942_wm.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
header h1{
    text-align: center;
    background-color: aquamarine;
    border: 3px solid black;
}